<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}">Guitar_Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if request.user.is_authenticated %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Student Home</a>
                <a class="dropdown-item" href="{% url 'new_song' %}">Add New Song</a>
                <a class="dropdown-item" href="#">Update Song Progress</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Profile</a>
        </div>
      </li>
    {% endif %}
    {% if request.user.is_authenticated %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Instructor
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Instructor Home</a>
                <a class="dropdown-item" href="#">My Students</a>
                <a class="dropdown-item" href="#">My Schedules</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Profile</a>
        </div>
      </li>
    {% endif %}
    </ul>

    {# Login form #}
    {% if request.user.is_authenticated %}
        <form action="/logout/" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    {% else %}
        <form method="post" action="/login/" class="form-inline my-2 my-lg-0">{% csrf_token %}
            <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username">
            <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    {% endif %}

  </div>
</nav>